# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Virtualenv
.venv/
.env
translation.log

# Django stuff
*.sqlite3
db.sqlite3
!media/.gitkeep
staticfiles/
media/
# VS Code / IDE
.vscode/
.idea/
*.swp
